.navbarWrapper {
  min-height: 100vh;
  background-color: #ffe4d6;
  width: 22%;
  max-width: 160px;
  min-width: 100px;
}

.sectionsWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-top: 128px;
  height: 288px;
  position: relative;
}

.imagesWrapper {
  cursor: pointer;
}

.activeLink {
  &::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 48px;
    left: 0;
    background-color: #8964d7;
  }
  > svg {
    fill: #8964d7;
  }
}
